@{
    ViewData["Title"] = "Accueil";

}

<section id="presentationAccueil" class="row justify-content-center">
    <div class="col-md-9 mb-3">

        <h1 class="display-4 text-center mb-3">Bienvenue sur BoVoyage</h1>
        <div class="card">
            <div class="card-body">
                <p>
                    Nous vous proposons différentes formules de voyages/vacances à des prix soldés. La remise peut aller jusqu’à
                    50 % du prix public normalement pratiqué par les agences de voyage.
                </p>
                <p>
                    N'hésitez pas à faire appelle à nous pour vos vacances, vous ne trouverez pas mieux ailleurs !
                </p>
                <p>
                    Pour en savoir plus sur notre mode de fonctionnement et notre entreprise, dirigez vous dans cette <a asp-action="AProposDe">section dédiée</a>.
                </p>
            </div>
        </div>

    </div>
</section>
@if (ViewBag.VoyagesMoinsCher.Count!=0 && ViewBag.RegionNbVoyage.Count!=0)
{
    <h2 class="text-center">Nos Bons Plans</h2>
    <section id="voyagesMoinsCher" class="accueilCard d-flex flex-lg-nowrap flex-wrap justify-content-lg-around justify-content-center">
        @foreach (var item in ViewBag.VoyagesMoinsCher)
        {
            <partial name="VoyageCard" model="item" />
        }
    </section>
    <h2 class="text-center">Départ iminent</h2>
    <section id="voyagesDateProche" class="accueilCard d-flex flex-lg-nowrap flex-wrap justify-content-lg-around justify-content-center">
        @foreach (var item in ViewBag.VoyagesDateProche)
        {
            <partial name="VoyageCard" model="item" />
        }
    </section>
    <h2 class="text-center">Région avec le plus de Voyages</h2>
    <section id="regionNbVoyage" class="accueilCard d-flex flex-lg-nowrap flex-wrap justify-content-lg-around justify-content-center">
        @for (int i = 0; i < (ViewBag.RegionNbVoyage.Count>5 ? 5 : ViewBag.RegionNbVoyage.Count); i++)
        {
            string[] descriptionMinim = @ViewBag.RegionNbVoyage[i].Description.Split(' ', 20);
            descriptionMinim[descriptionMinim.Length - 1] = " ...";
            <div class="">
                <div class="card m-3">
                    @if (ViewBag.RegionNbVoyage[i].Photo.Count == 0)
                    {
                        <img src="~/img/no_result.jpg" class="card-img-top" alt="Pas d'image">
                    }
                    else
                    {
                        <img src="~/img/@(ViewBag.RegionNbVoyage[i].Photo[0].NomFichier)" class="card-img-top" alt="@(ViewBag.RegionNbVoyage[i].Photo[0].NomFichier)">

                    }
                    <div class="card-body">
                        <h3 class="card-title">@ViewBag.RegionNbVoyage[i].Nom</h3>
                        <p class="text-justify">@string.Join(' ', descriptionMinim)</p>
                        <div class="d-flex justify-content-center">
                            <a asp-area="Client" asp-controller="Voyages" asp-action="Index" asp-route-dest="@ViewBag.RegionNbVoyage[i].Id" class="btn btn-secondary">Liste des Voyages</a>
                        </div>
                    </div>
                </div>
            </div>
        }

    </section>
}
else
{
    <div class="row justify-content-center mt-3">
        <div class="col-md-9">
            <div class="card">
                <div class="card-body">
                    <p>Il n'y aucun voyage de disponible actuellement ...</p>
                </div>
            </div>
        </div>
    </div>
}