@model BoVoyage.Models.Personne

@{
    ViewData["Title"] = "Supprimer contact";
}

<h1>@ViewData["Title"]</h1>

<h3>Êtes-vous sûr de vouloir supprimer ce contact?</h3>
<hr />
<div>
    
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TypePers)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TypePers)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Civilite)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Civilite)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Nom)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Nom)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Prenom)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Prenom)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Email)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Email)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Telephone)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Telephone)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Datenaissance)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Datenaissance)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="Id" />
        <input type="submit" value="Supprimer" class="btn btn-danger" /> |
        <a asp-action="Index">Retour</a>
    </form>
</div>
