@model IEnumerable<BoVoyage.Models.Client>

@{
    ViewData["Title"] = "Index";
}

<h1>Liste des clients</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<form asp-controller="Personnes" asp-action="Index" method="get">
    <div class="row m-1">

        <div class="col-3">
            <label><strong>Nom</strong></label>
            <input class="form-control" name="nom" min="0" placeholder="Nom" value="@ViewBag.Nom" />
        </div>

        <div class="col-3">
            <button class="btn btn-primary" type="submit">Filtrer</button>
            <a class="btn btn-primary" asp-action="Index"> Effacer filtre </a>
        </div>
    </div>
</form>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.IdNavigation.Nom)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IdNavigation.Prenom)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IdNavigation.Email)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IdNavigation.Telephone)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IdNavigation.Datenaissance)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.IdNavigation.Nom)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.IdNavigation.Prenom)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.IdNavigation.Email)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.IdNavigation.Telephone)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.IdNavigation.Datenaissance)
                </td>
                <td>
                    @if (User.IsInRole("Admin"))
                    {
                        <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> 
                    }|
                    <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                    @if (User.IsInRole("Admin"))
                    {
                    <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                    }
                </td>
            </tr>
        }
    </tbody>
</table>
