@model BoVoyage.Models.Dossierresa

@{
    ViewData["Title"] = "Supprimer réservation";
}

    <h1>@ViewData["Title"] </h1>

<h3>Êtes-vous sûr de vouloir supprimer cette réservation?</h3>
    <hr />
<div>
   
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NumeroCb)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NumeroCb)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PrixTotal)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PrixTotal)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IdClientNavigation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IdClientNavigation.Id)
        </dd class>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IdEtatDossierNavigation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IdEtatDossierNavigation.Libelle)
        </dd class>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IdVoyageNavigation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IdVoyageNavigation.Id)
        </dd class>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="Id" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-action="Index">Retour</a>
    </form>
</div>
