@model BoVoyage.Models.Voyage

@{
    ViewData["Title"] = "Details";
}

<h1>@Model.IdDestinationNavigation.Nom</h1>

<div>
    <p>@Model.IdDestinationNavigation.</p>
    <p>
        Partez en voyage du <strong>@Html.DisplayFor(modelItem => Model.DateDepart) </strong>
        au <strong>@Html.DisplayFor(modelItem => Model.DateRetour) </strong>
    </p>
    <p>@Model.IdDestinationNavigation.Description</p>
    <p>@Model.Descriptif </p>
    <p>
        Bénéficiez d'une réduction minimum de <strong>@((int)(Model.Reduction * 100))%</strong> par rapport au prix d'agence.
        Transport et hébergement tout compris pour la somme de <strong>@Html.DisplayFor(modelItem => Model.PrixHt)</strong> (HT) par personne!
    </p>
    <p>Réservez vite! Il ne reste plus que <strong>@Model.PlacesDispo places disponibles!</strong> </p>
    <a asp-action="Reserver" asp-route-id="" class="btn btn-primary">Je réserve maintenant!</a>
</div>



