@model BoVoyage.Areas.Client.Models.VoyagePersonnesViewModel

@{
    ViewData["Title"] = "Réservation";
}

<h1 class="text-center mb-3">Réservation</h1>
<div class="row">
    <div class="col-md-6 mb-3 mb-md-0">

        <div class="card">
            <div class="card-header">
                <h4>Voyageur(s)</h4>
            </div>
            <div class="card-body">
                <section class="voyageur">
                    <h5 class="card-title">Vous</h5>
                    <div class="form-row">
                        <div class="form-group col">
                            <label class="control-label"></label>
                            <input value="@ViewBag.Utilisateur.Nom" class="form-control" disabled />
                        </div>
                        <div class="form-group col">
                            <label class="control-label"></label>
                            <input value="@ViewBag.Utilisateur.Prenom" class="form-control" disabled />
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="form-group col">
                            <label class="control-label"></label>
                            <input value="@ViewBag.Utilisateur.Email" class="form-control" disabled />
                        </div>
                        <div class="form-group col">
                            <label class="control-label"></label>
                            <input value="@ViewBag.Utilisateur.Telephone" class="form-control" disabled />
                        </div>
                    </div>
                    <p>Pour modifier vos informations veuillez vous diriger vers votre <a asp-controller="Personnes" asp-action="Details">espace personnel</a></p>
                    <hr />
                </section>
                <section class="voyageur">
                    <form asp-action="AjoutVoyageur" asp-route-IdVoyage="@Model.Voyage.Id" asp-route-nbPersonnes="@Model.Voyageurs.Count()">
                        @for (int i = 0; i < Model.Voyageurs.Count(); i++)
                        {
                            <h5 class="card-title">Accompagnant : @(i + 1)</h5>
                            <div class="form-row">
                                <div class="form-group col">
                                    <label asp-for="Voyageurs[i].Civilite" class="control-label"></label>
                                    <select asp-for="Voyageurs[i].Civilite" class="form-control mr-sm-2 mb-2">
                                        <option value="Mr">Monsieur</option>
                                        <option value="Mme">Madame</option>
                                    </select>
                                </div>
                                <div class="form-group col">
                                    <label asp-for="Voyageurs[i].Datenaissance" class="control-label"></label>
                                    <input asp-for="Voyageurs[i].Datenaissance" class="form-control" />
                                    <span asp-validation-for="Voyageurs[i].Datenaissance" class="text-danger"></span>
                                </div>
                            </div>
                            <div class="form-row">
                                <div class="form-group col">
                                    <label asp-for="Voyageurs[i].Nom" class="control-label"></label>
                                    <input asp-for="Voyageurs[i].Nom" class="form-control" />
                                    <span asp-validation-for="Voyageurs[i].Nom" class="text-danger"></span>
                                </div>
                                <div class="form-group col">
                                    <label asp-for="Voyageurs[i].Prenom" class="control-label"></label>
                                    <input asp-for="Voyageurs[i].Prenom" class="form-control" />
                                    <span asp-validation-for="Voyageurs[i].Prenom" class="text-danger"></span>
                                </div>
                            </div>
                            <div class="form-row">
                                <div class="form-group col">
                                    <label asp-for="Voyageurs[i].Email" class="control-label"></label>
                                    <input asp-for="Voyageurs[i].Email" class="form-control" />
                                    <span asp-validation-for="Voyageurs[i].Email" class="text-danger"></span>
                                </div>
                                <div class="form-group col">
                                    <label asp-for="Voyageurs[i].Telephone" class="control-label"></label>
                                    <input asp-for="Voyageurs[i].Telephone" class="form-control" />
                                    <span asp-validation-for="Voyageurs[i].Telephone" class="text-danger"></span>
                                </div>
                            </div>
                            <div class="form-group d-flex justify-content-center">
                                <input type="submit" value="Valider" class="btn btn-success mr-3" />
                                <a asp-action="SupprimerVoyageur" asp-route-idVoyageur="@i" asp-route-idVoyage="@Model.Voyage.Id" asp-route-nbPersonnes="@Model.Voyageurs.Count()" type="button" class="btn btn-danger ml-3">Supprimer</a>
                            </div>
                        }
                    </form>
                    <hr />

                </section>
                <section class="d-flex justify-content-center">
                    @if (Model.Voyageurs.Count() + 1 < 10 && Model.Voyage.PlacesDispo > Model.Voyageurs.Count() + 1)
                    {
                        if (Model.Voyageurs.Any())
                        {
                            if (Model.Voyageurs.Last().Nom != null && Model.Voyageurs.Last().Prenom != null && Model.Voyageurs.Last().Email != null && Model.Voyageurs.Last().Datenaissance != null)
                            {
                                <a asp-action="Index" asp-route-idVoyage="@Model.Voyage.Id" asp-route-nbPersonnes="@(Model.Voyageurs.Count() + 1)" class="btn btn-primary">Ajouter un Voyageur</a>
                            }
                        }
                        else
                        {
                            <a asp-action="Index" asp-route-idVoyage="@Model.Voyage.Id" asp-route-nbPersonnes="@(Model.Voyageurs.Count() + 1)" class="btn btn-primary">Ajouter un Voyageur</a>
                        }
                    }
                </section>
            </div>
        </div>
    </div>
    <div class="col-md-6">

        <div class="card">
            <div class="card-header">
                <h2>Votre Voyage</h2>
            </div>
            <div class="card-body">
                <h5 class="card-title">Résumé</h5>
                <ul>
                    <li><span class="font-weight-bold">Destination : </span>@Model.Voyage.IdDestinationNavigation.Nom</li>
                    <li><span class="font-weight-bold">Date Départ : </span>@Html.DisplayFor(m => Model.Voyage.DateDepart)</li>
                    <li><span class="font-weight-bold">Date Retour : </span>@Html.DisplayFor(m => Model.Voyage.DateRetour)</li>
                    <li><span class="font-weight-bold">Nombres de Places : </span>@(Model.Voyageurs.Count + 1) / @Html.DisplayFor(m => Model.Voyage.PlacesDispo)</li>
                </ul>
                <h5 class="card-title">Prix</h5>
                <table class="table">
                    <thead>
                        <tr>
                            <th scope="col">Voyageur</th>
                            <th scope="col">Prix HT (€)</th>
                        </tr>
                    </thead>
                    <tbody>

                        <tr>
                            <td scope="row">@ViewBag.Utilisateur.Nom</td>
                            <td>@((double)Model.Voyage.PrixHt)</td>
                        </tr>
                        @for (int i = 0; i < ViewBag.PrixParVoyageur.Count; i++)
                        {
                            <tr>
                                <td scope="row">@Model.Voyageurs[i].Nom</td>
                                <td>@ViewBag.PrixParVoyageur[i]</td>
                            </tr>
                        }
                        <tr>
                            <th scope="row"></th>
                            <th>TOTAL avec TVA (20%)</th>
                        </tr>
                        <tr>
                            <th scope="row"></th>
                            <th>@ViewBag.PrixTva €</th>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="card-footer d-flex justify-content-center">
                <a asp-action="Paiement" class="btn btn-primary">Paiement</a>
            </div>
        </div>
    </div>
</div>