@model BoVoyage.Areas.Office.Models.Dashboard

@{
    ViewData["Title"] = "Détails";
}



@if (!Model.Reservations.Any())

{
    <h1>@ViewData["Title"] voyage numéro @Model.Voyages.First().Id</h1>
    <div>

        <dl class="row">
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Voyages.First().DateDepart)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Voyages.First().DateDepart)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Voyages.First().DateRetour)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Voyages.First().DateRetour)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Voyages.First().PlacesDispo)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Voyages.First().PlacesDispo)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Voyages.First().PrixHt)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Voyages.First().PrixHt)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Voyages.First().Reduction)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Voyages.First().Reduction)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Voyages.First().Descriptif)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Voyages.First().Descriptif)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Voyages.First().IdDestinationNavigation)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Voyages.First().IdDestinationNavigation.Nom)
            </dd>
        </dl>
    </div>
    <div>
        <a asp-controller=Voyages asp-action="Edit" asp-route-id="@Model.Voyages.First().Id">Editer</a> |
        <a asp-action="Index">Retour</a>
    </div>
}

@if (!Model.Voyages.Any())
{
    <h1>@ViewData["Title"] réservation numéro @Model.Reservations.First().Id</h1>
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Reservations.First().NumeroCb)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Reservations.First().NumeroCb)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Reservations.First().PrixTotal)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Reservations.First().PrixTotal)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Reservations.First().IdClientNavigation)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Reservations.First().IdClientNavigation.Id)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Reservations.First().IdEtatDossierNavigation)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Reservations.First().IdEtatDossierNavigation.Libelle)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Reservations.First().IdVoyageNavigation)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Reservations.First().IdVoyageNavigation.Id)
        </dd>
    </dl>

    <div>
        <a asp-controller=Dossierresas asp-action="Edit" asp-route-id="@Model.Reservations.First().Id">Editer</a> |
        <a asp-action="Index">Retour</a>
    </div>
}



